
nnUNet/
process_old_v09032022.py
process_old_v15032022.py
process_old_v16032022.py
readme.txt
sample_images/jpg/img_AP/TB0_ITA2-0326-AP-20130116.jpg
sample_images/jpg/img_AP/TB0_ITA2-0360-AP-20130415.jpg
sample_images/jpg/img_AP/TB1_ITA2-0308-AP-20121127.jpg
sample_images/jpg/img_AP/TB1_ITA2-0442-AP-20121108.jpg
sample_images/jpg/img_LAT/.ipynb_checkpoints/TB0_ITA2-0326-LAT-20130116-checkpoint.jpg
sample_images/jpg/img_LAT/.ipynb_checkpoints/TB0_ITA2-0360-LAT-20130415-checkpoint.jpg
sample_images/jpg/img_LAT/.ipynb_checkpoints/TB1_ITA2-0442-LAT-20121108-checkpoint.jpg
sample_images/jpg/img_LAT/TB0_ITA2-0326-LAT-20130116.jpg
sample_images/jpg/img_LAT/TB0_ITA2-0360-LAT-20130415.jpg
sample_images/jpg/img_LAT/TB1_ITA2-0308-LAT-20121127.jpg
sample_images/jpg/img_LAT/TB1_ITA2-0442-LAT-20121108.jpg
sample_images/nifti/img_AP/TB0_ITA2-0326-AP-20130116_0000.nii.gz
sample_images/nifti/img_AP/TB0_ITA2-0360-AP-20130415_0000.nii.gz
sample_images/nifti/img_AP/TB1_ITA2-0308-AP-20121127_0000.nii.gz
sample_images/nifti/img_AP/TB1_ITA2-0442-AP-20121108_0000.nii.gz
sample_images/nifti/img_LAT/TB0_ITA2-0326-LAT-20130116_0000.nii.gz
sample_images/nifti/img_LAT/TB0_ITA2-0360-LAT-20130415_0000.nii.gz
sample_images/nifti/img_LAT/TB1_ITA2-0308-LAT-20121127_0000.nii.gz
sample_images/nifti/img_LAT/TB1_ITA2-0442-LAT-20121108_0000.nii.gz
sample_images/png/img_AP/.ipynb_checkpoints/TB0_ITA2-0360-AP-20130415-checkpoint.png
sample_images/png/img_AP/TB0_ITA2-0326-AP-20130116.png
sample_images/png/img_AP/TB0_ITA2-0360-AP-20130415.png
sample_images/png/img_AP/TB1_ITA2-0308-AP-20121127.png
sample_images/png/img_AP/TB1_ITA2-0442-AP-20121108.png
sample_images/png/img_LAT/TB0_ITA2-0326-LAT-20130116.png
sample_images/png/img_LAT/TB0_ITA2-0360-LAT-20130415.png
sample_images/png/img_LAT/TB1_ITA2-0308-LAT-20121127.png
sample_images/png/img_LAT/TB1_ITA2-0442-LAT-20121108.png
models_download/pTB_nnunet_model_AP.zip
models_download/pTB_nnunet_model_LAT.zip
models_download/models.csv
models_download/models.xlsx
